<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35321823802-tlg1t5591l4insapi8u45dnu7297lk4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35321823802-tlg1t5591l4insapi8u45dnu7297lk4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBBN8xlIvQpNzShLcVCosMxlJinXHA3ugE</string>
	<key>GCM_SENDER_ID</key>
	<string>35321823802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gustavoaceredo.Tickets</string>
	<key>PROJECT_ID</key>
	<string>ticket-4d0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-4d0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35321823802:ios:8cc9e4dc25bc981c</string>
	<key>DATABASE_URL</key>
	<string>https://ticket-4d0ca.firebaseio.com</string>
</dict>
</plist>